@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter&family=Montserrat&family=Playfair+Display&display=swap');

.image-holder{
    background: url("https://images.unsplash.com/photo-1679907345383-41e9a40a58c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80");
    background-size: cover;
    background-position: center;
}
.text-holder{
    background-color: black;
    color: white;
}
.text-amber{
    color:#FFA31A;
    font-family: 'Archivo Black';
}
.heading-text{
    font-family: 'Archivo Black', sans-serif;
    font-size: 7vw;
}
.subtitle{
    font-size: 1.75vw;
    letter-spacing: 3px;
    font-family: 'Montserrat';
}
.text-container{
    margin-top: 150px;
}

h2 {
    color: white;
    font-family: 'Archivo Black';
    font-size: 4vw;
}

.lead {
    font-size: 1vw;
    letter-spacing: 1px;
    font-family: 'Montserrat';
}

.about-us {
    color: #FFA31A;
    font-family: 'Archivo Black';
    font-size: 2vw; 
    margin-top: 90px;
    margin-bottom: 20px;
}

.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
  }